.produce-hero {
  background-image: url(../img/bg-banner.jpg);
}
.main {
  background-image: url(../img/rm222batch2-mind-03.jpg);
}
.item-wrapper-icon {
  background-image: url(../img/bg-form.png);
}
.introl-sp {
  background-image: url(../img/rm222batch2-mind-03.jpg);
}
