.wrapper-contact {
  .contact-footer {
    margin-top: 0;
    position: relative;
  }
  .contact-map {
    height: 400px;
    position: relative;
    overflow: hidden;
    transform: translateY(10%);
    .item-map {
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
    .infor-wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      right: 10%;
      font-size: 80%;
      background-size: 100%;
      border-radius: 10px;
      width: 100%;
      max-width: 300px;
      height: 300px;
      .wrap-2 {
        position: relative;
        height: 100%;
        padding: 20px;
        line-height: 2;
        .dog-3 {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 150px;
          object-fit: cover;
        }
      }
    }
  }
  .contact-wrapper-icon {
    list-style: none;
    & i {
      color: $ori-color;
    }
    & li {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
  .contact-icon-wrapper {
    margin-top: 20px;
    & i {
      padding: 10px;
      border-radius: 100rem;
      background-color: #faf6f1;
    }
  }
}

@include maxw(480px) {
  .wrapper-contact .contact-map .infor-wrap {
    left: 58%;
    top: 50%;
    transform: translate(-60%, -50%);
  }
  .contact-name {
    display: block !important;
    & input {
      width: 100%;
      margin: 10px 0;
    }
  }
  .contact-content .contact-wrapper .-title {
    font-size: 30px;
  }
}
