.testimonials {
  text-align: center;
  background-color: $text-wh;
  padding: 30px 0;
  margin-top: 60px;
  padding-bottom: 50px;
  &-item {
    @include grid($col: 3, $gap: 20px);
    .item-main {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: start;
      background-color: white;
      padding: 30px;
      border-radius: 20px;
      & p {
        flex: 1;
      }
      .user {
        display: flex;
        gap: 18px;
        align-items: center;
        & img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 100rem;
        }
        & h4 {
          font-size: 20px;
          font-weight: 500;
        }
        & p {
          font-size: 14px;
          color: $text-dark;
        }
      }
    }
  }
}
@include maxw(960px) {
  .testimonials-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-main:nth-child(3) {
    grid-column: 1/3;
    text-align: center;
  }
}
@include maxw(680px) {
  .testimonials-item {
    grid-template-columns: 1fr;
  }
  .item-main:nth-child(3) {
    grid-column: auto;
    text-align: start;
  }
}
