.testimonial-home {
  .testimonial {
    @include grid($col: 2, $gap: 50px);
    padding: 0 20px;
    &-header {
      display: flex;
      gap: 0 10px;
      color: $ori-color;
    }
    &-text {
      h3 {
        font-size: 40px;
        font-weight: 500;
        margin-top: 10px;
      }
      &-content {
        font-size: 20px;
        color: $text-dark;
      }
    }
    &-img {
      display: flex;
      align-items: center;
    }
    &-avatar {
      display: flex;
      align-items: center;
      gap: 0 20px;
      margin: 30px 0;
      .avatar-img {
        position: relative;
        max-width: 180px;
        .avatar {
          border-radius: 100rem;
        }
        .imgAvatar {
          position: absolute;
          border-radius: 100rem;
          top: 0;
          width: 120px;
          height: 120px;
          object-fit: cover;
          top: 47%;
          left: 47%;
          padding: 5px;
          background-color: white;
          transform: translate(-50%, -50%);
        }
      }
      .wrap-star {
        line-height: 1.5;
        .star {
          color: rgb(241, 241, 75);
        }
        & h4 {
          font-weight: 500;
          font-size: 20px;
        }
        & p {
          font-size: 12px;
          color: greenyellow;
        }
      }
    }
  }

  .slider-dots2 {
    display: flex;
    gap: 0 10px;
    margin: 20px 0;
    .slider-dot-2 {
      list-style: none;
      width: 15px;
      height: 15px;
      border-radius: 100rem;
      background-color: #999;
      cursor: pointer;
      transition: background-color 0.25s linear;
    }
    .active {
      background-color: $ori-color;
    }
  }
}
@include maxw(1000px) {
  .testimonial-home .testimonial {
    gap: 0;
  }
}
@include maxw(820px) {
  .testimonial-home .testimonial {
    gap: 0;
  }
  .testimonial-home .testimonial-text h3 {
    font-size: 30px;
  }
  .testimonial-home .testimonial-text-content {
    font-size: 16px;
  }
}
@include maxw(769px) {
  .testimonial-home .testimonial {
    display: block;
  }
}
@include maxw(400px) {
  .testimonial-avatar {
    :nth-child(3) {
      display: none;
    }
  }
}
